body{
    background-image: url(logo/resimler/Arkaplan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center ;
}


#kutu{
    padding: 5%;
}

#onder{

    text-decoration: none;
    font-weight: bolder;
    
}